@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, h3, h4 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
}

p, span, div, a, li, button, input, label {
    font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 900px) {
    html {
        font-size: 14px;
    }
  }
  @media only screen and (max-width: 615px) {
    html {
        font-size: 13px;
    }
  }
